# Coursera DataScience CapStone course
## Week3 assignment
## Part 1

### 1.1. Import libraries

In [14]:
import pandas as pd
import numpy as np
import requests

### 1.2. Read wiki data into dataframe

In [15]:
wiki_page = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"

In [16]:
wiki_data = data = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text

In [17]:
table_data = wiki_data[wiki_data.find("<table"):wiki_data.find("</table>")+8]

In [18]:
toronto_df = pd.read_html(table_data, header = 0)[0]
toronto_df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

### 1.3. Clean the dataframe

#### 1.3.1 Drop all rows with Rorough='Not assinedd'

In [19]:
toronto_df1 = toronto_df[toronto_df.Borough!='Not assigned']
toronto_df1.head(10)

   Postcode           Borough     Neighbourhood
2       M3A        North York         Parkwoods
3       M4A        North York  Victoria Village
4       M5A  Downtown Toronto      Harbourfront
5       M5A  Downtown Toronto       Regent Park
6       M6A        North York  Lawrence Heights
7       M6A        North York    Lawrence Manor
8       M7A      Queen's Park      Not assigned
10      M9A         Etobicoke  Islington Avenue
11      M1B       Scarborough             Rouge
12      M1B       Scarborough           Malvern

#### 1.3.2 Neightbourhood = Borough if Neighbourhood

In [20]:
'''
for index, row in toronto_df1.iterrows():
    if row['Neighbourhood']=='Not assigned':
        row['Neighbourhood'] = row['Borough']
toronto_df1.head(10)

'''
toronto_df1['Neighbourhood'].replace("Not assigned", toronto_df1['Borough'], inplace=True)
toronto_df1.head(10)

   Postcode           Borough     Neighbourhood
2       M3A        North York         Parkwoods
3       M4A        North York  Victoria Village
4       M5A  Downtown Toronto      Harbourfront
5       M5A  Downtown Toronto       Regent Park
6       M6A        North York  Lawrence Heights
7       M6A        North York    Lawrence Manor
8       M7A      Queen's Park      Queen's Park
10      M9A         Etobicoke  Islington Avenue
11      M1B       Scarborough             Rouge
12      M1B       Scarborough           Malvern

#### 1.3.3 reset index

In [21]:
toronto_df2 = toronto_df1.reset_index(drop=True)
toronto_df2.head()

  Postcode           Borough     Neighbourhood
0      M3A        North York         Parkwoods
1      M4A        North York  Victoria Village
2      M5A  Downtown Toronto      Harbourfront
3      M5A  Downtown Toronto       Regent Park
4      M6A        North York  Lawrence Heights

#### 1.3.4 combine neighbourhoodd group by postcode and borough

In [22]:
toronto_df_grouped = toronto_df2.groupby(['Postcode', 'Borough'], as_index=False).agg(lambda x: ", ".join(x))
toronto_df_grouped.head()

  Postcode      Borough                           Neighbourhood
0      M1B  Scarborough                          Rouge, Malvern
1      M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough       Guildwood, Morningside, West Hill
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae

### 1.4 End of this step

#### 1.4.1 Save the dataframe for next step

In [25]:
toronto_df_grouped.to_csv("part1_result.csv", index=False)

#### 1.4.2 print the shape of the dataframe

In [26]:
toronto_df_grouped.shape

(103, 3)