In [2]:
from pyspark.sql import Row

df = spark.createDataFrame([Row(id=1, value='value1'),Row(id=2, value='value2')])

# let's have a look what's inside
df.show()
print("=======================================")
# let's print the schema
df.printSchema()

+---+------+
| id| value|
+---+------+
|  1|value1|
|  2|value2|
+---+------+

=======================================
root
 |-- id: long (nullable = true)
 |-- value: string (nullable = true)

In [3]:
# register dataframe as query table
df.createOrReplaceTempView('df_view')

# execute SQL query
df_result = spark.sql('select value from df_view where id=2')
print("1 ============================================")
# examine contents of result
df_result.show()
print("2 ============================================")
# get result as string
df_result.first().value

1 ============================================
+------+
| value|
+------+
|value2|
+------+

2 ============================================

'value2'

In [5]:
df.value

Column<b'value'>

In [6]:
df.count()

2

In [9]:
list(df.toLocalIterator())

[Row(id=1, value='value1'), Row(id=2, value='value2')]

In [10]:
df.toPandas()

   id   value
0   1  value1
1   2  value2