# Course Data Science Capstone Final Project
## Part 1

### 1.1. import libraries

In [1]:
import pandas as pd
import numpy as np
import geocoder

#from geopy.geocoders import Nominatim
#import folium
#from sklearn.cluster import KMeans

### 1.2.Get all neighborhood for Raleigh

#### From https://en.wikipedia.org/wiki/Raleigh,_North_Carolina_neighborhoods, 
#### copy all neighborhoods to raleigh_neighborhood.cs
#### read csv file.

In [2]:
raleigh_neighborhoods = pd.read_csv('raleigh_neighborhoods.csv')
raleigh_neighborhoods.columns=['neighborhood_name']

In [3]:
type(raleigh_neighborhoods)
print(raleigh_neighborhoods.shape)
raleigh_neighborhoods.head()

(104, 1)

  neighborhood_name
0        Avent West
1    Belvidere Park
2   Battery Heights
3        Bloomsbury
4    Boylan Heights

In [4]:
raleigh_neighborhoods.info()
raleigh_neighborhoods.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 104 entries, 0 to 103
Data columns (total 1 columns):
neighborhood_name    104 non-null object
dtypes: object(1)
memory usage: 912.0+ bytes

       neighborhood_name
count                104
unique               104
top            Tealbriar
freq                   1

### 1.3 Get latitude and longitude for those neighboods.

In [5]:
def get_neighborhood_coordinate(neighborhood):
    lat_lng_coords = None
    # loop until you get the coordinates
    while(lat_lng_coords is None):
      g = geocoder.arcgis('{}, Raleigh, NC'.format(neighborhood))
      lat_lng_coords = g.latlng

    return lat_lng_coords

In [6]:
get_neighborhood_coordinate("West Raleigh Historic District")

[35.908390000000054, -79.07232999999997]

In [7]:
coords = [get_neighborhood_coordinate(name) for name in raleigh_neighborhoods['neighborhood_name']]

In [8]:
df_coords = pd.DataFrame(coords, columns=['latitude', 'longitude'])
df_coords.head()

    latitude  longitude
0  35.752685 -78.718633
1  35.807625 -78.559286
2  35.777091 -78.616422
3  35.823456 -78.652719
4  35.789891 -78.648693

In [9]:
raleigh_neighborhoods['latitude'] = df_coords['latitude']
raleigh_neighborhoods['longitude'] = df_coords['longitude']
raleigh_neighborhoods.head()

  neighborhood_name   latitude  longitude
0        Avent West  35.752685 -78.718633
1    Belvidere Park  35.807625 -78.559286
2   Battery Heights  35.777091 -78.616422
3        Bloomsbury  35.823456 -78.652719
4    Boylan Heights  35.789891 -78.648693

### 1.4 Save Data for current step

In [10]:
raleigh_neighborhoods.to_csv('phase_1_result.csv', index=False)

In [11]:
# continue in phase2